{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": "*.spec.js",
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }]
  }
}