{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": "*.spec.js",
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "prettier/prettier": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}